@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.containerSingle {
  max-width: 1100px;
  margin: auto;
}

.uppercase {
  text-transform: uppercase;
}

.col-1 {
  width: calc(100% / 12);
}

.col-2 {
  width: calc((100% / 12) * 2);
}

.col-3 {
  width: calc((100% / 12) * 3);
}

.col-4 {
  width: calc((100% / 12) * 4);
}

.col-5 {
  width: calc((100% / 12) * 5);
}

.col-6 {
  width: calc((100% / 12) * 6);
}

.col-7 {
  width: calc((100% / 12) * 7);
}

.col-8 {
  width: calc((100% / 12) * 8);
}

.col-9 {
  width: calc((100% / 12) * 9);
}

.col-10 {
  width: calc((100% / 12) * 10);
}

.col-11 {
  width: calc((100% / 12) * 11);
}

.col-12 {
  width: 100%;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
}

.load_more {
  margin: auto;
  padding: 40px 0;
}

.load_more h3 {
  margin: 0;
}

.load_more h3 a {
  background-color: #0182f9;
  color: #fff;
  padding: 16px 14px;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  border: 2px solid #0182f9;
}

.load_more h3 a:hover {
  background-color: #1c1c1c;
}

.sign-button {
  padding: 40px 0;
}

.sign-button h3 {
  margin: 0;
}

.sign-button h3 a {
  color: #fff;
  padding: 16px 14px;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  border: 2px solid #0182f9;
}

.sign-button h3 a:hover {
  background-color: #0182f9;
}

header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header ul li {
  display: inline-block;
}

header .header-top {
  background-color: #0182f9;
}

header .header-top ul {
  text-align: right;
}

header .header-top ul li:last-child {
  padding-left: 60px;
}

header .header-top ul li a {
  color: #fff;
  padding: 5px;
  font-size: 12px;
  display: inline-block;
  font-weight: 600;
}

header .header-bottom {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header .header-bottom .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-bottom .nav-menu li a {
  font-weight: 500;
  color: #1c1c1c;
  display: inline-block;
  line-height: 113px;
  margin: 0 20px;
  font-size: 13px;
}

header .header-bottom .nav-menu li a.active,
header .header-bottom .nav-menu li a:hover {
  color: #0182f9;
  border-bottom: 4px solid #0182f9;
}

header .header-bottom .nav-menu .search-bar {
  width: 10%;
  border-bottom: 2px solid #0182f9;
  display: flex;
  justify-content: flex-end;
}

header .header-bottom .nav-menu .search-bar input {
  text-align: right;
  color: #1c1c1c;
  font-weight: bold;
  width: 70%;
  border: none;
  outline: none;
  padding-right: 6px;
}

header .header-bottom .nav-menu .search-bar .icon::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\F002";
  color: #1c1c1c;
}

.jumbotron {
  background-image: url("/images/jumbotron.jpg");
  padding: 200px 0;
  background-size: cover;
}

.section_com {
  background-color: #1c1c1c;
  padding: 50px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-container .card {
  flex-basis: calc(100% / 6);
}

.card-container img {
  width: 100%;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-container h4 {
  color: white;
  text-align: center;
  font-size: 12px;
  padding-bottom: 30px;
}

.info_section {
  background-color: #0182f9;
  padding: 50px 0;
}

.info_section .menu {
  margin: auto;
}

.info_section .infoMenu {
  align-items: center;
}

.info_section .infoMenu h4 {
  color: white;
  font-size: 10px;
}

.info_section .infoMenu img {
  width: 70px;
  margin-right: 10px;
}

section {
  padding: 50px 0;
}

section .row h3 {
  padding-bottom: 10px;
}

section .row .blue {
  color: #0182f9;
}

section .row p {
  padding-bottom: 5px;
}

footer {
  background-image: url("/images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

footer .footer-top {
  width: 100%;
  display: flex;
}

footer .footer-top .footer-menu {
  width: 50%;
  padding-bottom: 20px;
}

footer .footer-top .footer-menu .ul-footer {
  display: flex;
}

footer .footer-top .footer-menu .ul-footer .menu-footer-list ul {
  margin: 0;
  padding: 0 20px 10px 0;
  list-style-type: none;
}

footer .footer-top .footer-menu .ul-footer .menu-footer-list ul h2 {
  color: #fff;
}

footer .footer-top .footer-menu .ul-footer .menu-footer-list ul li {
  padding: 4px 0;
}

footer .footer-top .footer-menu .ul-footer .menu-footer-list ul li a {
  color: #666666;
}

footer .footer-top .footer-menu span {
  color: #666666;
}

footer .footer-top .footer-menu span a {
  color: #0182f9;
}

footer .footer-top .footer-right {
  width: 50%;
  background-image: url("/images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

footer .footer-bottom {
  background-color: #1c1c1c;
}

footer .footer-bottom .footer-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-bottom .footer-bottom-content .social-box {
  display: flex;
}

footer .footer-bottom .footer-bottom-content .social-box h2 {
  color: #0182f9;
}

footer .footer-bottom .footer-bottom-content .social-box ul {
  display: flex;
  list-style-type: none;
}

footer .footer-bottom .footer-bottom-content .social-box ul li {
  padding-left: 20px;
}

