$main_color: #0182f9;
// $dark_main_color: darken($main_color, 26%);
$dark_color: #1c1c1c;
$light_color: #fff;
$sub_light_color: #f6f6f6;
$price_color: #55ba5a;
$border-light: 1px solid rgba(0, 0, 0, 0.1);